.reveal {
    font-size: 32px;
}

.reveal h1 {
    font-size: 3.2em;
}

.reveal img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: transparent !important; 
}

/* .reveal slides { */
/*   text-align: left; */
/* } */

.reveal p {
    text-align: left;
}

.reveal code {
    font-size: 95%;
    font-family: "Lato Monospace", monospace;
    font-weight: bold;
}

.reveal ul {
    text-align: left;
    display: block;
    padding-left: 10px;
}

.example {
    color: gray;
    padding-bottom: 0 !important;
}

.reveal ol {
    text-align: left;
    display: inherit !important;
    padding-left: 10px;
}

.reveal pre {
    font-size: 70%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-right: 20px;
    font-family: "Courier New", monospace;
    font-weight: bold;
}

/* .example { */
/*     padding-bottom: 0; */
/* } */

.reveal blockquote {
    width: 90% !important;
}
